<!DOCTYPE html>
<html>
  <head>
    <title>Session y Cookies</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body style="background-color: <%= locals.bgColor ? bgColor : null %>">

    <h1>
        <%= locals.userName ? userName : null %>,
        gracias por visitarnos!
    </h1>


</body>
</html>
